
.porta{
    
}
/*carousel*/
.titulo{
    position: relative;
    bottom: 80px;
    text-align: center;
    font-size: 3rem;
}
.git{
    position: relative;
    bottom: 50px;
    font-size: 60px;
    right: 130px;
}
.insta{
    position: relative;
    bottom: 50px;
    font-size: 60px;
    right: 100px;
}
.lik{
    position: relative;
    bottom: 50px;
    font-size: 60px;
    left: 20px;
}
.face{
    position: relative;
    bottom: 50px;
    font-size: 60px;
    right: 80px;
}
/*img texto*/

.image{
	width: 280px;
    border-radius: 50%;
    margin-top: 30px;
}

/*img texto*/

/*linea*/

hr{
	border-top: 1px solid rgb(0, 236, 40);
    width: 100px;
    margin-top: 0.5rem;
    font-h
}
@media (max-width:720px) {
.image{
	width: 150px;
}
.porta{
	font-size: 19px;
}	
}
/*texto presentacion*/
.texto_present{
	text-align: center;
    margin-top: 47px;
    background: slategrey;
    line-height: 35px;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    color: white; 
}
/*RESPONSIVE*/
@media (max-width:576px) {
    
}