
.porta{
    
}
/*carousel*/
.titulo{
    position: relative;
    bottom: 70px;
    font-size: 50px;
}
.redes{
    position: relative;
    font-size: px;
    font-size: 90px;
    bottom: 50px;
    letter-spacing: 40px;
}

/*img texto*/

.image{
	width: 280px;
    border-radius: 50%;
    margin-top: 30px;
}

/*img texto*/

/*linea*/

hr{
	border-top: 1px solid rgb(0, 236, 40);
    width: 100px;
    margin-top: 0.5rem;
    font-h
}

/*texto presentacion*/
.texto_present{
	text-align: center;
    margin-top: 47px;
    background: slategrey;
    line-height: 35px;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    color: white; 
}
/*RESPONSIVE*/
@media (max-width: 600px) {
.titulo{
    
    position: relative;
    top: 0.5px;
}
.redes{
    font-size: 60px;
    bottom: 2px;
}
.porta{
        margin-top: 29px;
    font-size: 45px;
}
.image{
    width: 200px;
}
}
@media (min-width: 600px) {
.titulo{
   
    position: relative;
    top: 0.5px;
}
.redes{
    font-size: 60px;
    bottom: 2px;
}
.porta{
    margin-top: 29px;
    font-size: 45px;
}
.image{
    width: 250px;
}
@media (min-width: 768px) {
.titulo{
    position: relative;
    top: 0.5px;
}
.redes{
    font-size: 60px;
    bottom: 2px;
}
}
@media (min-width: 920px) {
.titulo{
    top: -35px;
}
.redes{
    font-size: 70px;
    top: -15px;
}
@media (min-width: 1200px) {
.titulo{
    position: relative;
    top: -100px;
}
.redes{
    font-size: 76px;
    top: -60px;
}



